DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=taskflow

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=production_standard_secret_key_12345
JWT_EXPIRY=24h

NODE_ENV=development

BACKEND_PORT=4000
FRONTEND_PORT=3000
VITE_API_BASE_URL=http://localhost:4000

# i have added the same values we have passed on docker compose file for reference to you, 
# usually in env example we do not pass values which are not time specific